<html>
	<head>
		<link rel="stylesheet" type="text/css" href="aboutStyle.css">
	</head>
	<body>			
		<header>
		  <img class="logo" src="../../../files/InhollandLogo.png">
		  <img class="logo" src="../../../files/StatsbosbeheerLogo.png" alt="statsbosbeheer logo">
		</header>
		<h1>About Us</h1>
		<p>We are a group of students from Mathematical Engineering at Inholland University of Applied Sciences, Diemen, the Netherlands.
		  <ul>
		    <li>Nadine Belhidane</li>
		    <li>Julian Besuijen</li>
		    <li>Martijn de Jong</li>
		    <li>Carlos Cruz Hermoso</li>
		    <li>Milla Thittaya Buengbunyuen</li>
		  </ul>
		</p>
		<h1>About the Project</h1>
		<p>This project delivered for the module of Project Application Development.Its purpose is to create an application that predicts the behavior of the populations of red deer, heck cattle and konik horses in the nature preserve Oostvaardersplassen upon releasing
		  grey wolves, using mathematical models and providing an operable user interface for a wide range of users.
		</p>
		
		<h1>About Oostvaardersplassen</h1>
		<p>Oostvaardersplassen is a nature preserve managed by Statsbosbeheer in the Flevoland, the Netherlands. It is an area of approximately 5600 ha (56 km²), of which 3600 ha is wet (swampland) and 2000 ha dry.<br> The area is home to wild cattle, wild horses
		  and deer (and many smaller animals.) These large herbivores or their related ancestors are supposed to have occurred in the Netherlands in the distant past and to have helped to shape the landscape. The general idea in the Oostvaardersplassen is to
		  have the animals live in a way as natural as possible; for example, carcasses of dead animals remain, and the animals are not fed in case of food shortages. However, due to the absence of a top predator; and due to the closed nature of the preserve
		  which restrict the herbivores to migrate, the ecological system has been unbalanced since the beginning.</p>
		<hr>
		<footer>© 2019 - Group 1 - Inholland University of Applied Sciences, Diemen</footer>
	</body>
</html>  
